.header {
  position: fixed;
  z-index: 50;
  right: 20px;
  top: 35px;
  .menu {
    width: 480px;
    height: 650px;
    border-radius: 25px;
    position: relative;
    background-color: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(20px);
  }
}

@media (min-width: 768px) {
  .header {
    right: 35px;
  }
}
