.container {
  text-align: left;
  margin: 0px;
  padding: 0px;
  max-width: 25vw;
  height: 25vh;
  background: #151578;

  .aboutText {
    padding: 20px;
    color: #ffffff;
    width: 40%;


    h1{
      font-size: 16px;
    }
    h3{
      font-size: 9px;
      font-weight: 300;
    }
    
  }
 

  
}
