.sticky {
  position: sticky;
  top: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  overflow-x: hidden;

  .text {
    white-space: nowrap;
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    line-height: auto;
  }

  .image {
    z-index: 40;
    filter: brightness(40%);
    object-fit: cover;
  }
}
