@tailwind base;
@tailwind components;
@tailwind utilities;




:root {

  --primary-color:#8de7e8;
  --secondary-color: #1e4593;
  --accent-color: #4e5ddb;
  --background-color: #0F413F;
  --text-color: #d9f7f5;

}


body{
  margin: 0px;
  padding: 0px;

  overflow-x:  hidden;
  overflow-y: scroll;

  background-color: var(--background-color);
  
}




.no-visible-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
  -webkit-overflow-scrolling: touch;
}

.no-visible-scrollbar::-webkit-scrollbar {
  display: none;
}

@layer components {
  .h1 {
    @apply text-4xl sm:text-7xl lg:text-8xl 2xl:text-9xl font-bold 
  }
  .h2 {
    @apply text-4xl sm:text-5xl lg:text-6xl 2xl:text-7xl font-semibold
  }
}
